*{
    background-color: #eef9bf;
    box-sizing: border-box;
}

.title{
    font-size: 120px;
    font-weight: bold;
    color: #75b79e;
    text-align: center;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
}

.board{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.face{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
}

.front{
    transform: rotateY(180deg);
}

.back{
    backface-visibility: hidden;
}

.card img {
    width: 100px;
    background-color: #A7E9AF;
}

.card:hover{
    transform: rotateY(180deg);
}


@media (max-width: 335px){
    
    .board{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .title{
        width: 93%;
        font-size: 36px;
        margin: 40px 0 10px 12px;
    }

    .card{
        margin-bottom: 15px;
    }

}